/*Styles the body and creates a flex box*/
body {
    background-color: #F3F4F7;
    font-family: Garamond;
    
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-bottom: 4rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 30%;
    border-radius: 10px;
}


h1 {
    font-size: 150px;
    align-self: center;
}

/*Creates a flex box for the calculator*/
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #C9BEBB;
    margin-top: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 30px;
}

/*Creates a flex blox for the name and image*/
.titleheader {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

nav {
    display: flex;
    background-color: #703D57;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #F3F4F7;
    font-size: larger;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer {
    background-color: #402A2C;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #F3F4F7;
    margin-bottom: 0;
    text-decoration: none;
}