@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hannah";
   
}

    <!--heading-->
    <div class="titleheader">
        <h1>Hannah</h1>
        <img src="img/me.jpg" />
    </div>

    <!--paragraph about what im looking forward to-->
    <h2>What I'm looking forward to</h2>
    <p>
        I'm looking forward to learning how to code in C# during this class! I am also just looking forward to practicing general coding skills
        so I can be adaptive in future workplaces. Another skill I hope to become more comfortable with in this class is working with APIs.
    </p> <br /><br />

    <!--list of jobs-->
    <h2>The top 3 jobs I want to pursue:</h2>
    <ol>
        <li>Data Analyst</li>
        <li>Consutant</li>
        <li>Web Developer</li>
    </ol>

    




